<!--
  Generated template for the FlavorInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar>
    <ion-title >Saved Searches</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="wrapper">
      <button style="text-align:center" item-left small ion-button (click)="dismiss()">Dismiss</button>
  </div>
  <div *ngIf="savedFilters.length == 0" class="centered">
    <p>&nbsp;</p><p>&nbsp;</p>
    <p>You do not currently have any saved searches.</p>
  </div>
  <div id="text_container" *ngIf="savedFilters">
      <ion-card *ngFor="let filter of savedFilters; index as i" tappable (click)="selectSavedFilter(filter[1])" (press)="deleteSavedFilter(filter[0],i)">
          <ion-item>
            <p>{{filter[0]}}</p>

            <!-- <ion-avatar item-left [style.transform]=user.rotate>
              <img item-left [src]="user.profile_pic" />
            </ion-avatar>
            <p [class]="myBgColor[i]">{{user.displayName}}</p>
            <p [class]="myBgColor[i]">{{user.currentClass.shortName}}</p>
            <p item-right>
              <button ion-button full (click)="showInfo($event,user)">Info</button>
            </p> -->
          </ion-item>
        </ion-card>
  </div>

</ion-content>