page-saved-filters {

    [text-color="my-custom-color"] {
        color: white;
    }
    
    #wrapper {
        display: flex;
        justify-content: center;
      }

    p{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #text_container{
        display: flex;
        justify-content: space-evenly;
        margin: 0% 5% 0% 5%;
        flex-direction: column;
        //width: 70% !important;
    }

    .centered{
        text-align: center;
    }

}
