page-qr-student {
    input[type=number]:before {
        content: "$";
    }

    .instructions {
        margin-bottom: 5%;
        text-align:center;
    }
    
    .input{
        font-size: 3.0em;
        color: color($colors, danger);
        text-align:center;
    }


}
