page-table {

    .steps_table_container{

        //width: 100%;
        // //display: block;
        // margin-left: auto;
        // margin-right: auto;
        // margin-top:0px;
        // margin-bottom:0px;
        // font-size:1em;

        background-color: transparent;
        display:flex;
        align-items: center;
        justify-content: space-around;
        margin:auto;
        flex-direction: column;

        table { margin: auto; }

        th, td {
          padding: 0px;
          text-align: left;
          font-size:4vw;
        }
    
        tr:nth-child(even) {
          background-color: color($colors, danger);
          color: color($colors, light);
        } //makes every other line the shown color
    }
}
