<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="toolbar-background">
      <ion-title><p class="titleWord" >FONA Friend Login</p></ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding class="getstart">
    <div class="pic">
        <img class="main_pic" src="assets/imgs/FONALogo.png">
    </div>
          <form [formGroup]="todo" (ngSubmit)="submitted()" class="login-container">
            <ion-item>
              <ion-label>email</ion-label>
              <ion-input type="text" formControlName="email_form" [(ngModel)]="email_var"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" formControlName="password_form" [(ngModel)]="password_var"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Remember Me</ion-label>
              <ion-checkbox [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" (ionChange)="clear()"></ion-checkbox>
            </ion-item>
            <div class="center_submit_button">
              <button ion-button color="secondary" type="submit" [disabled]="!todo.valid">Sign In</button>
            </div>
          </form>
          <div class="login-container">
          <button ion-button color="secondary" (click)="register()">Register New Account</button>
          <br>
          <button ion-button color="secondary" (click)="forgotPassword()">I forgot my password!!!</button>
        </div>
    <ng-container *ngIf="user">{{user.displayName}}</ng-container>
    <div *ngIf="email_var=='MMMMPPP'">
      <button class="onTop" ion-button color="secondary" (click)="gotoHome()">Developer's Page</button>
    </div>
  
  </ion-content>
  