page-restrict-video {
    .scrollerName{
        width:100%;
        height:20vh;
        border-style: solid;
        border-width:2px;
        border-color:color($colors, danger);
    }

    .scrollerSelect{
        width:100%;
        height:60vh;
        border-style: solid;
        border-width:2px;
        border-color:color($colors, primary);
    }

    .header{
        font-size:0.8em;
    }
    
}
