<ion-header>
  <ion-toolbar>
    <div class="top_part">
      <h4>Descriptor Search and Select</h4>
      <p class="number_descriptors_shown">Number of descriptors shown: {{descriptorArray.length}}</p>
      <button *ngIf="selectedDescriptors.length > 0" class="btn_dismiss" style="text-align:center" item-left small ion-button (click)="dismiss()">Send to Search</button>
      <button *ngIf="selectedDescriptors.length == 0" class="btn_dismiss" style="text-align:center" item-left small ion-button (click)="dismiss()">Back to Search</button>
      <p *ngIf="processing" class="processing">Updating list of available descriptors</p>
      <ion-searchbar 
      spellcheck="true" 
      placeholder="Search All Descriptors" 
      [(ngModel)]="searchInput" 
      block color="primary" 
      [debounce]="200"
      (click)="saveInputResults()" 
      (ionInput)="getItems($event)"
      [showCancelButton]="false"
      (ionCancel)="reset()"
      (ionClear)="reset()">
      </ion-searchbar>
    </div>
  </ion-toolbar>
  <span class="filter_tags">
      <div *ngIf="selectedDescriptors.length>0" class="White_navbar">
        <span class="tags" *ngFor="let descriptor of selectedDescriptors;">
          <button small ion-button (click)="addSelection(descriptor)">
            <ion-icon name="ios-close">
            </ion-icon>{{descriptor}}
          </button>
          <span class="trans">
          </span>
        </span>
      </div>
    </span>
</ion-header>


<ion-content padding>
    <div class="empty" *ngIf="descriptorArray.length==0">
        <p class="emptyChild">NO RESULTS</p>
        <!-- <button ion-button color="third" (click)="noResultsEmail()">Email FONA for help with this search</button> -->
      </div>
  <div class="center">
    <span *ngFor="let descriptor of descriptorArray; index as i">
      <button small ion-button class="btn_descriptor"[ngClass]="getCssClass(descriptor,i)" (click)="addSelection(descriptor)">
        {{descriptor}}
      </button>
    </span>
  </div>


</ion-content>
