.md,
.ios,
.wp {
  page-descriptor-search {
    .top_part {
      display: flex !important;
      justify-content: space-evenly !important;
      flex-wrap: wrap !important;
      align-items: center !important;
    }
    .btn_select {
      background-color: color($colors, secondary) !important;
      color: color($colors, third) !important;
      font-size: 1.1em !important;
      font-weight: bold !important;
      padding: 2px 4px 2px 4px;
      height:80%;
      min-width:30px;
    }
    .btn_unselect {
      background-color: color($colors, third) !important;
      color: color($colors, dark) !important;
      font-size: 1.1em !important; //font-weight:bold !important;
      padding: 2px 4px 2px 4px;
      height:80%;
      min-width:30px;
    }
    .center {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .number_descriptors_shown {
      font-size: 0.8em;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .btn_dismiss {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h4 {
      margin-top: 6px;
      margin-bottom: 0px;
    }
    .empty {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .emptyChild {
      margin: auto;
    }
    .btn_descriptor{

    }
    .filter_tags {
      position: relative;
      z-index: 999;
    }
    .White_navbar {
      background-color: white;
      color: white !important;
      position: relative;
      z-index: 999;
    }
    .tags {
      font-size: 0.8em; //background-color: color($colors, primary);
    }
    .trans {
      background-color: white;
    }
  }
}
