<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Landing Page</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="main_container">


  <div class="flex_container">
    <div class="button_box_big">
      <button color="fourth" ion-button large [disabled]="disable_button" (click)="gotoSearch()">
        <div>
          <ion-icon name="flask"></ion-icon>
          <p>Flavor Search</p>
        </div>
      </button>
    </div>

    <div class="button_box_big">
      <button color="fourth" ion-button large [disabled]="disable_button" (click)="gotoSuggestion()">
        <div>
          <ion-icon name="color-palette"></ion-icon>
          <p>Contact FONA</p>
        </div>
      </button>
    </div>
    <div class="button_box_big">
      <button color="fourth" ion-button large [disabled]="disable_button" (click)="gotoUpdate()">
        <div>
          <ion-icon name="man"></ion-icon><ion-icon name="woman"></ion-icon>
          <p>Profile</p>
        </div>
      </button>
    </div>

    <span class="small_box">
      <div class="button_box_small_top">
        <button color="fourth" ion-button large [disabled]="disable_button" (click)="signOut()">
          <div>
            <ion-icon name="exit"></ion-icon>
            <p>Sign Out</p>
          </div>
        </button>

      </div>
      <div class="button_box_small_bottom">
        <button color="fourth" ion-button large [disabled]="disable_button" (click)="showVersion()">
          <div>
            <ion-icon name="git-compare"></ion-icon>
            <p>Version</p>
          </div>
        </button>
      </div>
    </span>
    <div class="button_box_small" *ngIf="!admin">
      <button color="fourth" ion-button large [disabled]="disable_button" (click)="showRequestAccess()">
        <div>
          <ion-icon name="key"></ion-icon>
          <p>Request Access</p>
        </div>
      </button>
    </div>
  </div>
</ion-content>