page-landing {


    ion-icon {
        font-size:3.2em;
        color: color($colors,secondary); // icon
    }
    p{
        margin-top:0;
        color: color($colors,third); //words
        font-size: 5vw;
    }

    .button_box_big{
        width: 40vw;
        display: flex;
        align-items: center;
        flex-direction: column;

        .button-large-md {
            height: 25vh;
            width: 40vw;
            font-size: 5vh;
            border-radius: 20px;
        }
        .button-large-ios {
            height: 25vh;
            width: 40vw;
            font-size: 5vh;
            border-radius: 20px;
        }
    }

    .small_box{
        width: 40vw;
        height: 25vh;   
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .button_box_small{
        width: 40vw;
        display: flex;
        align-items: center;
        flex-direction: column;

        .button-large-md {
            height: 15vh;
            width: 40vw;
            font-size: 2.0vh;
            border-radius: 20px;
            margin: 0px;
        }
        .button-large-ios {
            height: 15vh;
            width: 40vw;
            font-size: 2.0vh;
            border-radius: 20px;
            margin: 0px;
        }
        p{
            font-size: 2.5vh;
        }
    }

    .button_box_small_top{
        width: 40vw;
        display: flex;
        align-items: center;
        flex-direction: column;

        .button-large-md {
            height: 15vh;
            width: 40vw;
            font-size: 2.0vh;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin: 2px 0px 0px 0px;
        }
        .button-large-ios {
            height: 15vh;
            width: 40vw;
            font-size: 2.0vh;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin: 2px 0px 0px 0px;
        }
        p{
            font-size: 2.5vh;
        }
    }

    .button_box_small_bottom{
        width: 40vw;
        display: flex;
        align-items: center;
        flex-direction: column;

        .button-large-md {
            height: 15vh;
            width: 40vw;
            font-size: 2.0vh;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            margin: 2px 0px 0px 0px;
        }
        .button-large-ios {
            height: 15vh;
            width: 40vw;
            font-size: 2.0vh;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            margin: 2px 0px 0px 0px;
        }
        p{
            font-size: 2.5vh;
        }
    }

    .flex_container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        height:80vh;
    }

    .main_container{
        background-color: color($colors,light);
    }



}
