.ios, .md
{
    .header_local{
        border-style: solid; 
        border-width: 3px; 
        border-color: color($colors, danger)
    }
    page-video-picker {
        ion-col.col{
            flex: 1 0 320px;
        }
    
        .card-background-page {

            ion-card {
            position: relative;
            text-align: center;
            -webkit-box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.75);
            border-radius: 15px
            }
        
            .card-title {
            position: absolute;
            top: 36%;
            font-size: 3.0em;
            width: 100%;
            font-weight: bold;
            color: color($colors, light);
            -webkit-text-stroke: 2px color($colors, dark);
            font-family: raleway;
            }
        
            .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: color($colors, light);
            }
        
        }

    }
}