<!--
  Generated template for the CreateNewClassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create New Class</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="form">
    <ion-item>
        <ion-label>Select Level:</ion-label>
        <ion-select [(ngModel)]="level">
          <ion-option value="Beginner">Beginner</ion-option>
          <ion-option value="Intermediate">Intermediate</ion-option>
          <ion-option value="Advanced">Advanced</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
          <ion-label>Select Day of week:</ion-label>
          <ion-select [(ngModel)]="day">
            <ion-option value="Monday">Monday</ion-option>
            <ion-option value="Tuesday">Tuesday</ion-option>
            <ion-option value="Wednesday">Wednesday</ion-option>
            <ion-option value="Thursday">Thursday</ion-option>
            <ion-option value="Friday">Friday</ion-option>
            <ion-option value="Saturday">Saturday</ion-option>
            <ion-option value="Sunday">Sunday</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Select Month:</ion-label>
            <ion-select [(ngModel)]="month">
              <ion-option value="January">January</ion-option>
              <ion-option value="February">February</ion-option>
              <ion-option value="March">March</ion-option>
              <ion-option value="April">April</ion-option>
              <ion-option value="May">May</ion-option>
              <ion-option value="June">June</ion-option>
              <ion-option value="July">July</ion-option>
              <ion-option value="August">August</ion-option>
              <ion-option value="September">September</ion-option>
              <ion-option value="October">October</ion-option>
              <ion-option value="November">November</ion-option>
              <ion-option value="December">December</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-label>Select Year:</ion-label>
              <ion-select [(ngModel)]="year">
                <ion-option value="2016">2016</ion-option>
                <ion-option value="2017">2017</ion-option>
                <ion-option value="2018">2018</ion-option>
                <ion-option value="2019">2019</ion-option>
                <ion-option value="2020">2020</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Optional Comment</ion-label>
                <ion-input [(ngModel)]="comment"></ion-input>
              </ion-item>
  </div>

  <div class="btn_createClass">
  <button ion-button (click)="makeNewClass()" >Create New Class</button>
  </div>
  
</ion-content>
