<!--
  Generated template for the UserInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><button small ion-button (click)="dismiss()">Dismiss</button>{{user.displayName}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div class="picture_box" >
<img [class]="picClass" [src]= "user.profile_pic" />  
</div>
<div class="text_container">
  <p>birthday: {{birthday}} </p> 
  <p>Class: {{user.currentClass.shortName}}</p>
  <p>Bio: {{user.bio}}</p>

</div>



</ion-content>
