<!--
  Generated template for the FlavorInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar [color]="highlight">
    <ion-title   mode="ios"><span text-color="my-custom-color">{{flavor["FLAVOR_NAME"]}}</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="wrapper">
      <button style="text-align:center" [color]="highlight" item-left small ion-button (click)="dismiss()">Return to Search</button>
  </div>
    <div id="text_container">
  <p><strong>Product Name:</strong> {{flavor["PRODUCT_NAME"]}}</p>
  <p><strong>Flavor Profile:</strong> {{flavor["FLAVOR_PROFILE"]}} </p> 
  <p><strong>NAT/ART:</strong> {{flavor.NAT_ART}} </p> 
  <p><strong>Form:</strong> {{flavor.FORM}}</p>
  <p><strong>Descriptors:</strong> {{flavor.DESCRIPTORS}}</p>
  <p><strong>Contents Listed Under CA Prop 65:</strong> {{flavor.PROP65}}</p>
  <p><strong>Halal Suitable:</strong> {{flavor.HALAL}}</p>
  <p><strong>GMO Status:</strong> {{flavor.GMO_STATUS}}</p>
  <p><strong>Flashpoint:</strong> {{flavor.C_FLASHPOINT}}°C / {{flavor.F_FLASHPOINT}}°F</p>
  <p><strong>FONA Product Code:</strong> {{flavor["FONA_PRODUCT_CODE"]}}</p>
  <p><strong>BestCo Item Code:</strong> {{flavor["BESTCO_ITEM"]}}</p>
  <p></p>

  <button ion-button (click)="sendItFlavor(flavor)">Email FONA about this Flavor</button>
  <button *ngIf="!isFavorite" ion-button (click)="favoriteFlavor(flavor)">Add to favorites list</button>
  <button *ngIf="isFavorite" ion-button (click)="unfavoriteFlavor(flavor)">Remove from favorites list</button>
</div>


</ion-content>