<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="formContainer">
    <form [formGroup]="todo" (ngSubmit)="submitted(todo.value)">
      <ion-item>
        <ion-label>email</ion-label>
        <ion-input type="text" formControlName="email_form" [(ngModel)]="email_var"></ion-input>
      </ion-item><br>
      <div class="alert" *ngIf="!todo.controls['email_form'].valid && todo.controls['email_form'].touched">A valid email address is required</div>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password_form" [(ngModel)]="password_var"></ion-input>
      </ion-item><br>
      <div class="alert" *ngIf="!todo.controls['password_form'].valid && todo.controls['email_form'].touched">password must be 6 or more characters</div>
      <ion-item>
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password" formControlName="password2_form" [(ngModel)]="password2_var"></ion-input>
      </ion-item><br>
      <div class="button-container">
        <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
      </div>
    </form>
  </div>
</ion-content>
