<!--
  Generated template for the QrInstructorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>QrInstructor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <button ion-button full (click)="scanCode()">Scan Student Code</button>
  </ion-card>
  <!-- {{scannedCode}} -->

  <div *ngIf="result">
    <img class="image" [src]="studentPhoto" *ngIf="studentPhoto" />
    <p>Student:{{displayName}}</p>
    <p>email:{{email}}</p>
    <P>uid:{{uid}}</P>
    <p>amount:{{amount}}</p>
    <p>date:{{date}}</p>
    <p>paidUntil:{{paidUntil}}</p>
    <p>cost:{{cost}}</p>
  </div>

 
</ion-content>
