<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header id="id">

  <ion-navbar class="navbar">
    <ion-title>search</ion-title>
    <button ion-button (click)="toggle_drop_down_menu()">Toggle Menu</button>
    {{x}},{{y}}
  </ion-navbar>
  <ion-toolbar class="slide_out" [hidden]="!show_menu">
    <div id="motionPath" class="demo">
      <h3 class="demo-title">Motion path</h3>
      <div class="demo-content">
        <div class="motion-path">
          <div class="small square shadow follow-path"></div>
          <div class="small square el follow-path"></div>
          <svg width="256" height="112" viewBox="0 0 256 112">
            <path fill="none" stroke="currentColor" stroke-width="1" d="M8,56 C8,33.90861 25.90861,16 48,16 C70.09139,16 88,33.90861 88,56 C88,78.09139 105.90861,92 128,92 C150.09139,92 160,72 160,56 C160,40 148,24 128,24 C108,24 96,40 96,56 C96,72 105.90861,92 128,92 C154,93 168,78 168,56 C168,33.90861 185.90861,16 208,16 C230.09139,16 248,33.90861 248,56 C248,78.09139 230.09139,96 208,96 L48,96 C25.90861,96 8,78.09139 8,56 Z"
            />
          </svg>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content id="body" padding (click)="getCoordinates($event)">
  <ion-icon  id="heart" [ngStyle]="expression"  name="heart"></ion-icon>
  <i class="fa fa-heart"></i>
</ion-content>
