page-search2 {
    .square{
        width: 20px;
        height: 20px;
        background-color: blue;
        position:relative;
    }

//     .square,
// .circle {
//   pointer-events: none;
//   position: relative;
//   width: 28px;
//   height: 28px;
//   margin: 1px;
//   background-color: currentColor;
//   font-size: 12px;
// }



    .slide_out{
        position: relative;
        z-index: 10
    }
    .navbar{
        position: relative;
        z-index: 15;
    }
    .heart{
        position: absolute;
        left: 100px;
        top: 150px;
    }

}
