// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// from this website:  https://www.canva.com/learn/website-color-schemes/  "luxurious and modern" #0F1626 Navy Blue   #AB987A Leather  #FF533D Coral  #F5F5F5 Eggshell
.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp { color: white; }

$colors: (
  // primary:    rgba(171,152,122,1.0),  //Leather #0F1626,  //Navy //#ba1e1e,  
  // //secondary:  rgba(15,22,38,1.0),  //Navy //#32db64     
  // secondary:  rgba(0,0,255,1.0),  //Navy //#32db64   
  // danger:     rgba(255,83,61,1.0),  //Coral
  // light:      rgba(245,245,245,1.0),  //Eggshell
  // dark:       rgba(34,34,34,1.0),
  // greyed:     rgba(128,128,128,1.0)


  primary:    #FECE2F, //rgba(255,147,30,1.0),   
  //secondary:  rgba(15,22,38,1.0),      
  secondary:  #063F77,
  third: #B9D0E9,
  fourth: #7399C3, //rgba(0,0,255,1.0),     
  danger:     rgba(237,28,36,1.0),  
  light:      rgba(245,245,245,1.0),  
  dark:       rgba(34,34,34,1.0),
  greyed:     rgba(128,128,128,1.0),
  whitey:      rgba(255,255,255,1.0),
Berry: #D51269,
Melon: #74BD4C,
Fantasy: #127BBF,
Brown:#563D0D,
Mint:#74CDE2,
Spice:#89060D,
Citrus:#FAB231,
Orchard:#C21734,
Grape:purple,
Herbal:#596F57,
Tropical:#F38231,
Modifier:#6D6E71,
Stone_Fruit:darksalmon  

);




// App iOS Variables
// --------------------------------------------------
$popover-ios-width: 75vw;
$item-ios-avatar-size: 60px;
$alert-ios-radio-label-text-color-checked:#063F77;
$alert-ios-checkbox-label-text-color-checked:#063F77;
$radio-md-color-on:red;
$select-md-placeholder-color: blue;




// App Material Design Variables
// --------------------------------------------------
$popover-md-width: 75vw;
$item-md-avatar-size: 60px;
$alert-md-radio-label-text-color-checked:#063F77;
$alert-md-checkbox-label-text-color-checked:#063F77;
$radio-ios-color-on:red;
$select-ios-placeholder-color: blue;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
