<!--
  Generated template for the AccountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-item>
      <ion-title>accounts</ion-title>
      <button id="menu" item-left *ngIf="admin" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button id="menu" ion-button item-right (click)="reset()" item-right>Reset</button>
    </ion-item>
  </ion-navbar>

  <ion-searchbar [(ngModel)]="searchInput" block color="primary" [debounce]="500" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>
<ion-content no-padding>
  <!-- <ion-grid *ngIf="gridDisplay"> -->
  <!-- <ion-row *ngFor="let row of gridDisplay ; index as i"> -->
  <!-- <ion-col width-50 *ngFor="let user of row; index as j"> -->

  <!-- *ngIf="user?.firstName" -->
  <!-- [style.background-color]="myBgColor[i]" (click)="selected($event,user,i)" -->
  <div *ngIf="gridDisplay">
    <ion-card *ngFor="let user of gridDisplay; index as i" [class]="myBgColor[i]" tappable (click)="selected($event,user,i)">
      <ion-item>
        <ion-avatar item-left [style.transform]=user.rotate>
          <img item-left [src]="user.profile_pic" />
        </ion-avatar>
        <p [class]="myBgColor[i]">{{user.displayName}}</p>
        <p [class]="myBgColor[i]">{{user.currentClass.shortName}}</p>
        <p item-right>
          <button ion-button full (click)="showInfo($event,user)">Info</button>
        </p>
      </ion-item>
    </ion-card>
  </div>
</ion-content>



