// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.home-bckgrd{
    background-image: url(../assets/imgs/bckgrd-dots.png);
    background-color: color($colors, primary);// #bc2126;
    background-size: cover;
    height: 100%;
}


@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

//@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Love+Ya+Like+A+Sister');

@import url('https://fonts.googleapis.com/css?family=Roboto');
// https://fonts.google.com/specimen/Indie+Flower?selection.family=Indie+Flower




ion-content, ion-header {
    //background-color: #EFEFEF !important;
    font-family:'Roboto';
    font-size: 1.3em;
}

.alertcss{
    .alert-wrapper{
        color: color($colors,secondary);
        background: color($colors,third);
        
    }
    .alert-head{
        
    }

    .alert-message{
        
    }

    .alert-button-group{
        
    }

    .alert-button{
        background: color($colors,secondary);
        color: color($colors,primary);
    }
    
}

.alert-md .alert-wrapper{
    color: color($colors,secondary);
    background: color($colors,third);
    .alert-button{
        background: color($colors,secondary);
        color: color($colors,primary);
    }
    .alert-radio-icon {
        border-color:color($colors,secondary);
        //background-color: red;
    }
    .alert-radio-inner {
        background-color: color($colors,secondary);
    }
}

.alert-ios .alert-wrapper{
    color: color($colors,secondary);
    background: color($colors,third);
    .alert-button{
        background: color($colors,secondary);
        color: color($colors,primary);
    }
    .alert-radio-icon {
        border-color: color($colors,secondary);
        //background-color: red;
    }
    .alert-radio-inner {
        background-color: color($colors,secondary);
    }

}




