<ion-header>
  <ion-navbar [hideBackButton]="showFavorites" class="navbar">
    <ion-title>
      <div class="flexing">
        <ion-icon [ngClass]="heartColor" name="heart" tappable (click)="toggleFavorites()"></ion-icon>
        <!-- <button *ngIf="!showFavorites" class="toggle" ion-button (click)="toggleMenu()">Toggle Menu</button> -->
        <div class="blank_swipe" (swipedown)="menuOpen()">
          <!-- <div class="blank_swipe" (swipedown)="toggleMenu()"> -->
          <p class="search_page_title" (click)=content.scrollToTop()>Search Page</p>
        </div>
      </div>
    </ion-title>
  </ion-navbar>
  <div *ngIf="!showFavorites">
    <!--swipeAll (swipedown)="menuOpen()" -->
    <p *ngIf="resultsArray" class="cards_shown">Flavors Shown: {{resultsArray.length}}</p>
    <!-- <p *ngIf="resultsArray" (swipedown)="toggleMenu()" class="cards_shown">Flavors Shown: {{resultsArray.length}}</p> -->
  </div>
  <div *ngIf="showFavorites">
    <p *ngIf="favorites" class="cards_shown">Flavors Shown: {{favorites.length}}</p>
  </div>
  <!--========================================================================================================FILTER TAGS-->
  <span *ngIf="!showFavorites" class="filter_tags">
    <div *ngIf="addedSearches.length>0" class="White_navbar">
      <span class="tags" *ngFor="let search of addedSearches;">
        <button small ion-button (click)="eraseTag(search, true)">
          <ion-icon name="ios-close">
          </ion-icon>{{search}}
        </button>
        <span class="trans">
        </span>
      </span>
    </div>
  </span>
  <!--========================================================================================================DROP DOWN MENU-->
  <ion-toolbar class="slide_out" [hidden]="!menu">
    <div id="drop_down_menu" (swipeup)="menuClose()">
      <span id="shrink">
        <ng-container *ngIf="resetValue">
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label fixed class='fixedLabel'>
                  <p>Form</p>
                </ion-label>
                <ion-select [(ngModel)]="selectedForm" (ionChange)="selectForm($event)">
                  <ion-option class="alertcss" *ngFor="let phys_form of phys_forms" [value]="phys_form">{{phys_form}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label fixed class='fixedLabel'>
                  <p>Nat/Art</p>
                </ion-label>
                <!--  [selectedText]="selectedNAT_ART"-->
                <ion-select [(ngModel)]="selectedNAT_ART" (ionChange)="selectNAT_ART($event)">
                  <ion-option class="alertcss" *ngFor="let nat_art of nat_arts" [value]="nat_art">{{nat_art}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label fixed class='fixedLabel'>
                  <p>Profile</p>
                </ion-label>
                <ion-select [(ngModel)]="selectedProfile" (ionChange)="selectProfile($event)">
                  <ion-option *ngFor="let profile of profiles" [value]="profile">{{profile}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label fixed class='fixedLabel'>
                  <p>GMO Status</p>
                </ion-label>
                <ion-select [(ngModel)]="selectedGMO" (ionChange)="selectGMO($event)">
                  <ion-option *ngFor="let gmo of gmos" [value]="gmo">{{gmo}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label fixed class='fixedLabel'>
                  <p>Prop 65</p>
                </ion-label>
                <ion-select [(ngModel)]="selected65" (ionChange)="select65($event)">
                  <ion-option *ngFor="let boolean of booleans" [value]="boolean">{{boolean}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label fixed class='fixedLabel'>
                  <p>Halal</p>
                </ion-label>
                <ion-select [(ngModel)]="selectedHalal" (ionChange)="selectHalal($event)">
                  <ion-option *ngFor="let boolean of booleans" [value]="boolean">{{boolean}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <div class="search_bar">
            <button ion-button class="btn_book_icon" (click)="book()">
              <div class="button_guts">
                <ion-icon class="book_icon" name="book"></ion-icon>
                <p class="descriptor_text">Descriptors</p>
              </div>
            </button>
            <ion-searchbar spellcheck="true" placeholder="Product Code" type="number" [(ngModel)]="searchInput" block
              color="primary" [debounce]="200" (click)="saveInputResults()" (ionInput)="getItems($event)"></ion-searchbar>
            <!-- <button ion-button class="btn_Filter" (click)="addSearch()">+Filter</button> -->
          </div>
          <ion-item class="center">
            <button ion-button color="third" (click)="reset()">Reset Filters</button>
            <button ion-button color="third" (click)="save()">Save Filters</button>
            <button ion-button color="third" (click)="show()">Show Saved Filters</button>
          </ion-item>
        </ng-container>
      </span>
      <!-- <img  class="arrow_up" src="assets/imgs/arrow-up2.png"> -->
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--========================================================================================================FAVORITES-->
  <div *ngIf="showFavorites" padding [ngClass]="(favorites.length==0) ? 'noResult': 'fine'">
    <div class="empty" *ngIf="favorites.length==0">
      <p class="emptyChild">You don't have any favorites</p>
    </div>
    <ion-list class="item-borderless" no-lines>
      <ion-item-sliding class="{{'beer' + flavor.ID}}" *ngFor="let flavor of favorites; index as i">
        <ion-item>
          <!-- (press)="pressFavorites($event,flavor,i)" -->
          <ion-card (click)="showInfoFavorite($event,flavor,i)" [ngClass]="flavor['PROFILE_COLOR']">
            <ion-card-header>
              <strong>{{flavor["FLAVOR_NAME"]}}</strong>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <p>
                  <strong>Name:</strong> {{flavor["PRODUCT_NAME"]}}</p>
                <p>
                  <strong>Form:</strong> {{flavor.FORM}}</p>
                <p>
                  <strong>Descriptors:</strong> {{flavor.DESCRIPTORS}}</p>
                <p>
                  <strong>Profile:</strong> {{flavor['FLAVOR_PROFILE']}}</p>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options (ionSwipe)="swipeToDeleteFavorite($event, flavor, i)">
          <!-- <button ion-button (click)="share(slidingItem)">Share</button> -->
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <!--========================================================================================================DATABASE CARDS-->
  <div *ngIf="!showFavorites" padding [ngClass]="(resultsArray?.length==0) ? 'noResult': 'fine'">
    <!--========================================================================================================NO RESULTS-->
    <div class="empty" *ngIf="resultsArray?.length==0">
      <p class="emptyChild">NO RESULTS</p>
      <button ion-button color="third" (click)="noResultsEmail()">Email FONA for help with this search</button>
    </div>
    <!--========================================================================================================RESULTS-->
    <ion-list class="item-borderless" no-lines>
      <ion-item-sliding *ngFor="let flavor of resultsArray; index as i">
        <ion-item>
          <!-- (press)="press($event,flavor)" -->
          <!-- [style.touch-action]="'pan-x'" -->
          <ion-card (click)="showInfo($event,flavor,i)" [ngClass]="flavor['PROFILE_COLOR']">
            <ion-card-header>
              <strong>{{flavor["FLAVOR_NAME"]}}</strong>
              <ion-icon text-right *ngIf="flavor.isFavorite" name="heart" class="heartRed"></ion-icon>
            </ion-card-header>
            <!-- (press)="press($event,flavor)"  -->
            <!-- [style.touch-action]="'pan-y'" -->
            <ion-card-content>
              <ion-item>
                <p>
                  <strong>Name:</strong> {{flavor["PRODUCT_NAME"]}}</p>
                <p>
                  <strong>Form:</strong> {{flavor.FORM}}</p>
                <p>
                  <strong>Descriptors:</strong> {{flavor.DESCRIPTORS}}</p>
                <p>
                  <strong>Profile:</strong> {{flavor['FLAVOR_PROFILE']}}</p>
                <p>
                  <strong>Product Code:</strong> {{flavor['FONA_PRODUCT_CODE']}}</p>
                <p>
                  <strong>BestCo Item Code:</strong> {{flavor["BESTCO_ITEM"]}}</p>
                <p></p>

              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options>
          <div>
            <button ion-button *ngIf="flavor.isFavorite" (click)="removeFromFavorites(flavor)">
              <ion-icon class="heartRed" name="heart"></ion-icon>
            </button>
            <button ion-button *ngIf="!flavor.isFavorite" (click)="addToFavorites(flavor)">
              <ion-icon class="heartBlack" name="heart"></ion-icon>
            </button>
            <button ion-button (click)="sendItFlavor(flavor)">
              <ion-icon name="mail"></ion-icon>
            </button>
          </div>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
