.ios,
.md {
  page-search {
    ion-list {
      border-style: none !important;
    }
    
    ion-item {
      border-style: none !important;
    }
    .item-borderless {
      border-style: none !important;
    }
    .arrow_up{
      //transform: scale(8,0.3);
      text-align:center;
      width:100%;
      margin: 0;
      display: inline-block;
      float: left;
      opacity:0.1;
      background-color:snow;
    }
    .descriptor_text{
      margin-left:6px;
      color:color($colors, secondary);
    }
    .item-wrapper {
      border-style: none;
    }
    .blank_swipe {
      width: 100px;
      height: 50px; //background-color:blue;
      color: black;
      text-align: center;
      margin-left: 15px;
    }
    .search_page_title {
      margin-top: 17px;
      margin-bottom: 10px;
    }
    ion-searchbar {
      width: 90vw !important;
    }
    ion-scroll {
      height: 100%
    }
    ion-icon {
      font-size: 2.0em;
    }
    .navbar {
      z-index: 999;
      position: relative;
    }
    .filter_tags {
      position: relative;
      z-index: 999;
    }
    .flexing {
      display: flex; //justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      z-index: 999;
    }
    .button-md {
      margin: auto;
    }
    .hide {
      display: none;
   }
   .show {
      display: block;
   }
    .heartRed {
      color: red;
      float:right;
      font-size:1.5em;
      vertical-align: middle;
    }
    .heartBlack {
      color: black;
      float:right;
      font-size:1.5em;
      vertical-align: middle;
    }
    .menu {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      z-index: 5;
      position: fixed;
    }
    .label-md {
      margin: 0;
    }
    .label-ios {
      margin: 0;
    }
    .fixedLabel {
      min-width: 0% !important;
      max-width: 50% !important;
    }
    .select-text {
      font-size: 0.9em !important;
      background-color: lightgray;
      text-align: left;
    }
    ion-select {
      min-width: 65%;
    }
    .cards_shown {
      font-size: 0.8em;
      margin: 0px;
      text-align: center;
      position: relative;
      z-index: 999;
      background-color: whitesmoke;
    }
    .center {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      margin-bottom:0px;
    }
    #shrink {
      width: 100vw;
      border-radius: 10px;
    }
    .noResult {
      background-color: snow;
      color: grey;
      height: 100%;
    }
    .empty {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .emptyChild {
      margin: auto;
    }
    .fine {
      //background-color:blue;
    }
    .action-sheet-cancel {
      background: green !important;
    }
    .book_icon {
      color: color($colors, secondary);
      font-size: 1.5em;
    }
    .button_guts{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .btn_book_icon {
      margin: 0px 0px 0px 0px;
      padding: 0px 25px 0px 25px;
      color: color($colors, third);
    }
    .search_bar {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      background-color: white;
      width: 100%
    }
    .btn_Filter {
      margin: 0px 15px 0px 4px;
      padding: 0px 10px 0px 4px !important;
      height: 30px;
    }
    .tags {
      font-size: 0.8em; //background-color: color($colors, primary);
    }
    .toggle {
      margin-bottom: 8px;
    }
    .button-small-md {
      height: 1.6em;
    }
    .button-small-ios {
      height: 1.6em;
    }
    .row,
    .col {
      padding: 0px;
    }
    .select {
      padding: 0px;
    }
    .trans {
      background-color: white;
    }
    .carded {
      border-radius: 10px;
    }
    ion-card-header.card-header {
      color: white;
      font-size: 1.5em;
    }
    .Berry {
      background-color: #D51269;
      color: white;
    }
    .Brown {
      background-color: #563D0D;
      color: white;
    }
    .Citrus {
      background-color: #FAB231;
      color: white;
    }
    .Fantasy {
      background-color: #127BBF;
      color: white;
    }
    .Grape {
      background-color: purple;
      color: white;
    }
    .Herbal {
      background-color: #596F57;
      color: white;
    }
    .Melon {
      background-color: #74BD4C;
      color: white;
    }
    .Mint {
      background-color: #74CDE2;
      color: white;
    }
    .Modifier {
      background-color: #6D6E71;
      color: white;
    }
    .Orchard {
      background-color: #C21734;
      color: white;
    }
    .Spice {
      background-color: #89060D;
      color: white;
    }
    .Stone_Fruit {
      background-color: darksalmon;
      color: white;
    }
    .Tropical {
      background-color: #F38231;
      color: white;
    }
    .White {
      background-color: white;
      color: white !important;
      box-shadow: 0 0 0;
      height: 27vh;
    }
    .White_navbar {
      background-color: white;
      color: white !important;
      position: relative;
      z-index: 999;
    }
  }
}
