<!--
  Generated template for the Video3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>video3</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button ion-button (click)="playVideo()">play video</button>
</ion-content>
