<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Request access</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>Requests Access to FONA's Flavor search feature</h3>
  <br><p>Please email us at 2fonafriend@gmail.com to get access to the search feature in this app. 
    Your security and the security of your company is important to us, so please include: </p> 
  <p>Your name</p>
  <p>Your Title</p>
  <p>Your Company</p>
  <p>Any additional comments that you might have.</p>
  <p></p>
  <p>The button below will create the email for you... unless you don't have email available on your device.</p>

  <button block class="buttony" ion-button (click)="sendIt()">Create Access Request Email</button>

</ion-content>
