<!--
  Generated template for the ComponentTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ComponentTest</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>1. {{myVariable}}</p>
<!-- <p>2. <testing [myText] = "myVariable" (somethingHappened)="doSomething($event)"></testing></p> -->
<!-- <p>3. <testing myText = "beer"></testing></p> -->
<!-- <p>4. <testing></testing></p> -->

</ion-content>
