<!--
  Generated template for the LocalVideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>localVideo</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <ion-item>
    <ion-label color="primary">filename to download</ion-label>
    <ion-input placeholder="Enter filename" [(ngModel)]="filename"></ion-input>
  </ion-item>
  <button ion-button (click)="downloadfile()">Download File</button>
  <button ion-button (click)="getFileList()">refresh list</button>
  <button ion-button (click)="toggleVideo()">toggle video</button>

  
      <ion-item *ngFor="let file of fileList">
          <p (click)="selectAction(file.name)">{{file.name}}</p>
      </ion-item>
  

      <div *ngIf="showVid">
          <video width="320" height="240" controls >
            <source [src]="videoURL" type="video/mp4">
          </video>
        </div>


<p>Variables:</p>
<p>fileList: {{fileList}}</p>
<p>videoURL: {{videoURL}}</p>
<p>showVid: {{showVid}}</p>
</ion-content>
