<ion-header id="header">
  <ion-navbar>
    <ion-title>Hearts</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding (click)="getCoordinates($event)">
  <ion-icon *ngFor="let heart of heartArray;" name={{heart.name}} [style.color]=heart.color [style.position]=heart.position [style.top]=heart.top [style.left]=heart.left >Beer</ion-icon>

  <div swipeAll class="swiper"
  (swipe)="swipeAll($event)"
  (swipeleft)="swipeLeft($event)"
  (swiperight)="swipeRight($event)"
  (swipeup)="swipeUp($event)"
  (swipedown)="swipeDown($event)"
></div>
</ion-content>