<!--
  Generated template for the FlavorInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar [color]="highlight">
    <ion-title mode="ios">
      <span class="title" >{{name}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- fullscreen="true" -->
<ion-content no-padding >
  <ion-slides (ionSlideDidChange)="slideChanged()" effect="10" initialSlide={{index}} spaceBetween="8">
    <ion-slide *ngFor="let flavor of resultsArray; index as i" >
      <ion-content class="inner_scroll"t>
      <div id="wrapper">
        <button style="text-align:center" [color]="highlight" item-left small ion-button (click)="dismiss()">Return to Search</button>
      </div>
      <div class="text_container" [style.borderColor]="borderColor">
        <p>
          <strong>Product Name:</strong> {{flavor["PRODUCT_NAME"]}}</p>
        <p>
          <strong>Flavor Profile:</strong> {{flavor["FLAVOR_PROFILE"]}} </p>
        <p>
          <strong>NAT/ART:</strong> {{flavor.NAT_ART}} </p>
        <p>
          <strong>Form:</strong> {{flavor.FORM}}</p>
        <p>
          <strong>Descriptors:</strong> {{flavor.DESCRIPTORS}}</p>
        <p>
          <strong>Contents Listed Under CA Prop 65:</strong> {{flavor.PROP65}}</p>
        <p>
          <strong>Halal Suitable:</strong> {{flavor.HALAL}}</p>
        <p>
          <strong>GMO Status:</strong> {{flavor.GMO_STATUS}}</p>
        <p>
          <strong>Flashpoint:</strong> {{flavor.C_FLASHPOINT}}°C / {{flavor.F_FLASHPOINT}}°F</p>
        <p>
          <strong>FONA Product Code:</strong> {{flavor["FONA_PRODUCT_CODE"]}}</p>
        <p>
          <strong>BestCo Item Code:</strong> {{flavor["BESTCO_ITEM"]}}</p>
          <p></p>
      </div>
      <div class="button_container">
        <button ion-button icon-only outline (click)="sendItFlavor(flavor)"><ion-icon name="mail"></ion-icon></button>
        <button *ngIf="!flavor.isFavorite" ion-button icon-only outline  (click)="favoriteFlavor(flavor)"><ion-icon class="heartBlack" name="heart"></ion-icon></button>
        <button *ngIf="flavor.isFavorite" ion-button icon-only outline  (click)="unfavoriteFlavor(flavor)"><ion-icon class="heartRed" name="heart"></ion-icon></button>
      </div>
      </ion-content>
    </ion-slide>
  </ion-slides>


</ion-content>
