.ios,
.md {
  page-flavor-info-slide {
    [text-color="my-custom-color"] {
      color: white;
    }
    .scroll-content{
      padding:0px;
    }
    .inner_scroll{
      height:90vh;
      margin:0px;
      padding: 0px;
    }
    .heartRed{
      color:red;
    }
    .heartBlack{
      color:black;
    }
    #wrapper {
      display: flex;
      justify-content: center;
    }
    p {
      margin-top: 12px;
      margin-bottom: 12px;
      text-align: left !important;
      font-size: 25px;
      //text-size-adjust: auto;
    }
    .text_container {
      //display: flex;
      //justify-content: space-evenly;
      //margin: 0% 5% 0% 5%;
      //flex-direction: column;
      text-align: left !important;
      border-width: 3px !important; //border-color: green!important;
      border-style: solid !important;
      padding: 4px;
      margin:7px;
      border-radius: 15px;
      -webkit-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
    }
    .button_container {
      text-align: center !important;
    }
    scroll-content {
      margin-top: 0px !important;
      padding-top: 0px !important;
    }
    .almost_block {
      width: 90% !important;
    }
    .button-inner {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
