<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Suggestion Box</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h3>FONA Suggestions</h3>
    <br><p>Do you have an idea that can make FONA Friend better?</p>
    <p>Do you have a Flavor that you're searching for? </p> 
    <p>Do you have an idea for a something completely new? </p> 
    <p></p>
    <p>Tell us about it!</p>
    <p></p>
    <p>The button below will create the email for you... unless you don't have email available on your device. If so, just drop us an email at 2FonaFriend@gmail.com</p>
  
    <button block class="buttony" ion-button (click)="sendIt()">Email FONA</button>
  
  </ion-content>
